.App {
  text-align: center;
  width: 900px;
  padding: 10px;
  border: 2px solid rgb(77, 57, 60);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


div {
  margin: 8px auto;
  padding: 2px;
  box-sizing: border-box;
}
